body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #141414;
}

/* NAVBAR */
.navbar {
    background-color: #06335f;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.logo {
    font-weight: bold;
    color: white;
}

/* HERO */
.hero {
    background-color: #06335f;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.btn {
    background-color: #f02d4d;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* CONTENIDO */
.section {
    padding: 40px;
}

/* PRODUCTOS */
.products {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.products img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* BOTONES */
.buttons {
    text-align: center;
}

.buttons a {
    margin: 10px;
}

/* IMÁGENES GRANDES */
.img-full {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
}
